body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #eaf6ff;
}
header {
  background-color: black;
  color: #eaf6ff;
  padding: 20px 10px 20px 10px;
  text-align: center;
  font-size: 32px;
}
nav {
  background-color: gray;
  padding: 10px;
  text-align: center;
}
a {
  color: #ffffff;
  text-decoration: none;
  margin-left: 15px;
  margin-right: 15px;
}
.container {
  color: rgb(41, 40, 40);
  padding: 20px;
}
#active-link {
  color: rgb(38, 221, 38);
  font-weight: bold;
}
